.form{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label{
    display: block;
    margin: 0 0 1em 0;
}

input{
    display: block;
    margin: 0 0 1em 0;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    -webkit-transition: border-color .25s ease-in-out;
    -moz-transition: border-color .25s ease-in-out;
    -o-transition: border-color .25s ease-in-out;
    transition: border-color .25s ease-in-out;
}
